/* -------------------------------------------------------------------------- *\
   #HTML
\* -------------------------------------------------------------------------- */

html {
    background-color: $color-white;
    box-sizing: border-box;
    color: $color-black;
    font: 100%/1.5 $font;
}
