/**
 * PATTERN LIBRARY
 */

/**
 * These styles are only required for the presentational UI of this pattern library and not your website or application.
 * It compiles to `pattern-library.css` and does not need to be included in your HTML.
 * All classes are prefixed with `pl-` so as to avoid any conflicts.
 */





/* -------------------------------------------------------------------------- *\
   #TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * VARIABLES
 * HTML
 */





/* -------------------------------------------------------------------------- *\
   #VARIABLES
\* -------------------------------------------------------------------------- */

/**
 * Breakpoints
 */

$pl-bp-small: 45.00em; /*  720 / 16 */

/**
 * Colors
 * http://clrs.cc/
 */

$pl-color-primary:    #ff851b;
$pl-color-black:      #111;
$pl-color-gray:       #aaa;
$pl-color-silver:     #ddd;
$pl-color-white:      #fff;
$pl-color-blue-dark:  #001f3f;
$pl-color-blue:       #0074d9;
$pl-color-blue-light: #7fdbFF;

/**
 * Fonts
 * https://fonts.google.com/specimen/Roboto+Mono
 */

$pl-font-primary: "Roboto Mono", monospace;

/**
 * Weights
 */

$pl-font-weight-normal: 400;
$pl-font-weight-bold:   700;





/* -------------------------------------------------------------------------- *\
   #HTML
\* -------------------------------------------------------------------------- */

.pl-html {
    background-color: $pl-color-white;
    color: $pl-color-black;
    font: 100%/1.5 $pl-font-primary;
}





/* -------------------------------------------------------------------------- *\
   #HEADER
\* -------------------------------------------------------------------------- */

.pl-header {
    border-bottom: 0.0625em solid $pl-color-silver;

    /* Link */

    .pl-link {
        display: inline-block;
        padding: 1em;

        /* Logo */

        .pl-logo {
            display: inline-block;
            height: auto;
            max-width: 100%;
        }
    }

    /* Nav */

    .pl-nav {
        display: none;
    }
}

@media all and (min-width: $pl-bp-small) {

    .pl-header {
        border-bottom: 0;
        border-right: 0.0625em solid $pl-color-silver;
        height: 100%;
        left: 0;
        overflow-y: auto;
        position: fixed;
        top: 0;
        width: 18em; /* 288 / 16 */

        .pl-link {
            display: block;

            .pl-logo {
                display: block;
                margin-right: auto;
                margin-left: auto;
            }
        }

        .pl-nav {
            display: block;
        }
    }
}





/* -------------------------------------------------------------------------- *\
   #NAV
\* -------------------------------------------------------------------------- */

.pl-nav {

    /* List */

    .pl-list {
        border-top: 0.0625em solid $pl-color-silver;
        list-style: none;
        margin: 0;
        padding: 0;

        .pl-list {
            border-top: 0;
        }

        /* Item */

        .pl-list__item {
            border-bottom: 0.0625em solid $pl-color-silver;
            font-size: 0.875em; /* 14 / 16 */
            font-weight: $pl-font-weight-bold;
            padding-top: 2em;
            text-transform: uppercase;

            &:last-child {
                border-bottom: 0;
            }

            .pl-list__item {
                font-size: 1em; /* 16 / 16 */
                font-weight: $pl-font-weight-normal;
                padding-top: 0;
                text-transform: none;
            }
        }

        /* Link */

        .pl-list__link {
            border-left: 0.25em solid transparent;
            color: $pl-color-black;
            display: block;
            padding: 0.75em 1.5em 0.75em 1.25em;
            text-decoration: none;
            transition: border-color 0.25s;

            &:focus,
            &:hover {
                border-left-color: $pl-color-primary;
            }
        }
    }
}





/* -------------------------------------------------------------------------- *\
   #MAIN
\* -------------------------------------------------------------------------- */

.pl-main {
    padding: 1em;
}

@media all and (min-width: $pl-bp-small) {

    .pl-main {
        margin-left: 18em;
        width: calc(100% - 18em);
    }
}
