/**
 * PATTERN LIBRARY
 */

/**
 * These styles are only required for the presentational UI of this pattern library and not your website or application.
 * It compiles to `pattern-library.css` and does not need to be included in your HTML.
 * All classes are prefixed with `pl-` so as to avoid any conflicts.
 */





/* -------------------------------------------------------------------------- *\
   #TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * VARIABLES
 * HTML
 */





/* -------------------------------------------------------------------------- *\
   #VARIABLES
\* -------------------------------------------------------------------------- */

/**
 * Colors
 * http://clrs.cc/
 */

$pl-color-black:      #111;
$pl-color-gray:       #aaa;
$pl-color-silver:     #ddd;
$pl-color-white:      #fff;
$pl-color-blue-dark:  #001f3f;
$pl-color-blue:       #0074d9;
$pl-color-blue-light: #7fdbFF;

/**
 * Fonts
 * https://fonts.google.com/specimen/Roboto+Mono
 */

$pl-font-primary: "Roboto Mono", monospace;





/* -------------------------------------------------------------------------- *\
   #HTML
\* -------------------------------------------------------------------------- */

.pl-html {
    background-color: $pl-color-white;
    color: $pl-color-black;
    font: 100%/1.5 $pl-font-primary;
}
