/**
 * UTILITIES
 */

/* -------------------------------------------------------------------------- *\
   #TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * COLORS
 * .....Background
 * .....Foreground
 */





/* -------------------------------------------------------------------------- *\
   #COLORS
\* -------------------------------------------------------------------------- */

/* ==========================================================================
   #Background
   ========================================================================== */

/**
 * Primary
 */

.bg-primary--dark  { background-color: $color-primary-dark !important; };
.bg-primary        { background-color: $color-primary !important; };
.bg-primary--light { background-color: $color-primary-light !important; };

/**
 * Secondary
 */

.bg-secondary--dark  { background-color: $color-secondary-dark !important; };
.bg-secondary        { background-color: $color-secondary !important; };
.bg-secondary--light { background-color: $color-secondary-light !important; };

/**
 * Grayscale
 */

.bg-black      { background-color: $color-black !important; };
.bg-gray       { background-color: $color-gray !important; };
.bg-silver     { background-color: $color-silver !important; };
.bg-whitesmoke { background-color: $color-whitesmoke !important; };
.bg-white      { background-color: $color-white !important; };

/**
 * Social
 */

.bg-facebook    { background-color: $color-facebook !important; };
.bg-google-plus { background-color: $color-google-plus !important; };
.bg-instagram   { background-color: $color-instagram !important; };
.bg-twitter     { background-color: $color-twitter !important; };
