/**
 * VARIABLES
 */

/* -------------------------------------------------------------------------- *\
   #TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * BREAKPOINTS
 */




/* -------------------------------------------------------------------------- *\
   #BREAKPOINTS
\* -------------------------------------------------------------------------- */

$bp-xs:      30.00em; /*  480 / 16 */
$bp-small:   45.00em; /*  720 / 16 */
$bp-medium:  60.00em; /*  960 / 16 */
$bp-large:   80.00em; /* 1280 / 16 */
$bp-xl:      90.00em; /* 1440 / 16 */
$bp-xxl:    100.00em; /* 1600 / 16 */