/**
 * PATTERN LIBRARY
 */





/* -------------------------------------------------------------------------- *\
   #TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * VARIABLES
 * MIXINS
 * IMPORTS
 * HTML
 * HEADER
 * NAV
 * HAMBURGER
 * MAIN
 * SECTION
 * ARTICLE
 * PATTERN
 * PALETTE
 */





/* -------------------------------------------------------------------------- *\
   #VARIABLES
\* -------------------------------------------------------------------------- */

/**
 * Breakpoints
 */

$pl-bp-small:  45.00em; /*  720 / 16 */
$pl-bp-medium: 60.00em; /*  960 / 16 */
$pl-bp-large:  80.00em; /* 1280 / 16 */
$pl-bp-xl:     90.00em; /* 1440 / 16 */

/**
 * Colors
 * http://clrs.cc/
 */

$pl-color-primary:    #ff851b;
$pl-color-black:      #111;
$pl-color-gray:       #aaa;
$pl-color-silver:     #ddd;
$pl-color-white:      #fff;

/**
 * Fonts
 * https://fonts.google.com/specimen/Roboto+Mono
 */

$pl-font-primary: "Roboto Mono", monospace;

/**
 * Weights
 */

$pl-font-weight-normal: 400;
$pl-font-weight-bold:   700;





/* -------------------------------------------------------------------------- *\
   #MIXINS
\* -------------------------------------------------------------------------- */

/**
 * Clearfix
 */

@mixin pl-clearfix() {
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }
}

/**
 * Anchor
 */

@mixin pl-anchor() {
    border-bottom: 0.125em solid $pl-color-silver;
    color: $pl-color-black;
    text-decoration: none;
    transition: border-color 0.25s;

    &:focus,
    &:hover {
        border-bottom-color: $pl-color-primary;
    }
}





/* -------------------------------------------------------------------------- *\
   #IMPORTS
\* -------------------------------------------------------------------------- */

@import "highlight";
@import "tooltip";





/* -------------------------------------------------------------------------- *\
   #HTML
\* -------------------------------------------------------------------------- */

.pl-html {
    background-color: $pl-color-white;
    color: $pl-color-black;
    font: 100%/1.5 $pl-font-primary;
}





/* -------------------------------------------------------------------------- *\
   #HEADER
\* -------------------------------------------------------------------------- */

.pl-header {
    margin-bottom: 2em;

    /* Title */

    .pl-header__title {
        font-size: 2.25em; /* 36 / 16 */
        margin-top: 0;
        margin-bottom: 0;

        & + .pl-header__synopsis {
            margin-top: 0.5em;
        }
    }

    /* Synopsis */

    .pl-header__synopsis {
        font-size: 1.125em; /* 18 / 16 */
        margin-bottom: 0;

        a {
            @include pl-anchor();
        }
    }

    /* Label */

    .pl-header__label {
        color: $pl-color-gray;
        font-size: 0.75em;
        font-weight: $pl-font-weight-bold;
    }

    /**
     * Primary
     */

    &.pl-header--primary {
        border-bottom: 0.0625em solid $pl-color-silver;
        margin-bottom: 0;
        position: relative;

        /* Link */

        .pl-link {
            display: inline-block;
            padding: 1em;

            /* Logo */

            .pl-logo {
                display: inline-block;
                max-height: 3.125em; /* 50 / 16 */
                width: auto;
            }
        }

        /* Nav */

        .pl-nav {
            display: none;

            &.is-active {
                display: block;
            }
        }

        /* Hamburger */

        .pl-hamburger {
            position: absolute;
            right: 1em;
            top: 1.75em;
        }
    }

    & + .pl-article {
        margin-top: 2em;
    }

    /**
     * Main
     */

    &.pl-header--main {
        border-bottom: 0.125em solid $pl-color-silver;
        margin-bottom: 0;
        padding-bottom: 1.5em;

        .pl-header__title {
            line-height: 1;

            & + .pl-header__synopsis {
                margin-top: 1em;
            }
        }
    }

    /**
     * Section
     */

    &.pl-header--section {
        margin-bottom: 4em;

        .pl-header__title {
            font-size: 1.5em; /* 24 / 16 */
        }
    }

    /**
     * Pattern
     */

    &.pl-header--pattern {
        border-bottom: 0.0625em solid $pl-color-silver;
        padding-bottom: 1em;

        .pl-header__title {
            font-size: 1.125em; /* 18 / 16 */
        }

        .pl-header__synopsis {
            font-size: 0.875em; /* 14 / 16 */
        }
    }
}

@media all and (min-width: $pl-bp-small) {

    .pl-header {

        .pl-header__title {
            font-size: 2.25em; /* 36 / 16 */
        }

        &.pl-header--primary {
            border-bottom: 0;
            border-right: 0.0625em solid $pl-color-silver;
            height: 100%;
            left: 0;
            overflow-y: auto;
            position: fixed;
            top: 0;
            width: 14em; /* 224 / 16 */

            .pl-link {
                display: block;

                .pl-logo {
                    display: block;
                    margin-right: auto;
                    margin-left: auto;
                }
            }

            .pl-nav {
                display: block;
            }

            .pl-hamburger {
                display: none;
            }
        }
    }
}

@media all and (min-width: $pl-bp-medium) {

    .pl-header {

        & + .pl-article {
            margin-top: 4em;
        }

        &.pl-header--primary {
            width: 18em; /* 288 / 16 */
        }
    }
}





/* -------------------------------------------------------------------------- *\
   #NAV
\* -------------------------------------------------------------------------- */

.pl-nav {

    /* List */

    .pl-list {
        border-top: 0.0625em solid $pl-color-silver;
        list-style: none;
        margin: 0;
        padding: 0;

        /* Item */

        .pl-list__item {
            border-bottom: 0.0625em solid $pl-color-silver;
            font-size: 0.875em; /* 14 / 16 */
            font-weight: $pl-font-weight-bold;
            text-transform: uppercase;

            &:last-child {
                border-bottom: 0;
            }

            .pl-list__item {
                font-size: 1em; /* 16 / 16 */
                font-weight: $pl-font-weight-normal;
                text-transform: none;
            }
        }

        /* Link */

        .pl-list__link {
            border-left: 0.25em solid transparent;
            color: $pl-color-black;
            display: block;
            padding: 0.75em 1.5em 0.75em 1.25em;
            text-decoration: none;
            transition: border-color 0.25s;

            &:focus,
            &:hover {
                border-left-color: $pl-color-primary;
            }
        }
    }
}

@media all and (min-width: $pl-bp-small) {

    .pl-nav {
        border-bottom: 0.0625em solid $pl-color-silver;

        .pl-list {

            .pl-list__item {
                padding-top: 2em;

                .pl-list__item {
                    padding-top: 0;
                }
            }
        }
    }
}





/* -------------------------------------------------------------------------- *\
   #HAMBURGER
\* -------------------------------------------------------------------------- */

.pl-hamburger {
    display: inline-block;
    height: 1.5em; /* 24 / 16 */
    line-height: 1;

    /* Bar */

    .pl-hamburger__bar {
        background-color: $pl-color-black;
        display: inline-block;
        height: 0.1875em;
        position: relative;
        transition: background-color 0.25s;
        width: 1.75em;

        &:before {
            background-color: $pl-color-black;
            content: "";
            display: inline-block;
            height: 0.1875em;
            position: absolute;
            top: -0.5625em;
            transition: transform 0.25s;
            width: 1.75em;
        }

        &:after {
            background-color: $pl-color-black;
            bottom: -0.5625em;
            content: "";
            display: inline-block;
            height: 0.1875em;
            position: absolute;
            transition: transform 0.25s;
            width: 1.75em;
        }
    }

    /**
     * Active
     */

    &.is-active {

        .pl-hamburger__bar {
            background-color: transparent;

            &:before {
                top: 0;
                transform: rotate(45deg);
            }

            &:after {
                bottom: 0;
                transform: rotate(-45deg);
            }
        }
    }
}





/* -------------------------------------------------------------------------- *\
   #MAIN
\* -------------------------------------------------------------------------- */

.pl-main {
    padding: 2em 1em;
}

@media all and (min-width: $pl-bp-small) {

    .pl-main {
        margin-left: 14em;
        padding: 2em;
        width: calc(100% - 14em);
    }
}

@media all and (min-width: $pl-bp-medium) {

    .pl-main {
        margin-left: 18em;
        padding: 4em;
        width: calc(100% - 18em);
    }
}

@media all and (min-width: $pl-bp-large) {

    .pl-main {
        padding: 6em;
    }
}





/* -------------------------------------------------------------------------- *\
   #SECTION
\* -------------------------------------------------------------------------- */

.pl-section {

    & + .pl-section {
        padding-top: 2em;
    }
}

@media all and (min-width: $pl-bp-small) {

    .pl-section {

        & + .pl-section {
            padding-top: 4em;
        }
    }
}





/* -------------------------------------------------------------------------- *\
   #ARTICLE
\* -------------------------------------------------------------------------- */

.pl-article {
    max-width: 42em; /* 672 / 16 */

    /* Headings */

    h2 {

        &:first-child {
            margin-top: 0;
        }
    }

    h2, h3 {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }

    h2 + h3 {
        margin-top: 1.5rem;
    }

    /* Paragraph */

    p {
        margin-top: 0;
        margin-bottom: 0;

        & + p,
        & + ul {
            margin-top: 1.5rem;
        }
    }

    /* Unordered List */

    ul {
        margin-top: 0;
        margin-bottom: 0;

        li {
            margin-bottom: 0.5rem;
        }

        & + p,
        & + ul {
            margin-top: 1.5rem;
        }
    }

    /* Anchor */

    a {
        @include pl-anchor();
    }

    /* Code */

    code {
        display: block;
        white-space: pre-line;
    }
}





/* -------------------------------------------------------------------------- *\
   #PATTERN
\* -------------------------------------------------------------------------- */

.pl-pattern {
    @include pl-clearfix();
    margin-bottom: 4em;

    /* Example */

    .pl-pattern__example {
        margin-top: 2em;
        position: relative;

        pre {
            margin-top: 0;
            margin-bottom: 0;

            code {
                font-size: 0.875em; /* 14 / 16 */
                padding: 2em;
            }
        }

        button {
            background-color: $pl-color-silver;
            border: 0;
            border-bottom-left-radius: 0.375em;
            color: $pl-color-black;
            cursor: pointer;
            font-size: 0.75em; /* 12 / 16 */
            padding: 0.5em 1em;
            position: absolute;
            right: 0;
            text-transform: uppercase;
            transition: background-color 0.25s;
            top: 0;

            &:focus,
            &:hover {
                background-color: $pl-color-gray;
                outline: 0;
            }
        }
    }
}

@media all and (min-width: $pl-bp-small) {

    .pl-pattern {
        margin-bottom: 8em;
    }
}





/* -------------------------------------------------------------------------- *\
   #PATTERN
\* -------------------------------------------------------------------------- */

.pl-palette {

    /* Color */

    .pl-palette__color {
        margin-bottom: 2em;
        min-height: 5em;
        position: relative;

        &:focus,
        &:hover {

            .pl-palette__value {
                opacity: 1;
            }
        }
    }

    /* Title */

    .pl-palette__title {
        bottom: -2em;
        font-size: 0.875em; /* 14 / 16 */
        left: 0;
        padding-top: 0.5em;
        position: absolute;
        right: 0;
        text-align: center;
    }

    /* Value */

    .pl-palette__value {
        background-color: rgba($pl-color-white, 0.75);
        border-bottom-left-radius: 0.375em;
        cursor: pointer;
        font-size: 0.75em; /* 12 / 16 */
        opacity: 0;
        padding: 0.5em 1em;
        position: absolute;
        right: 0;
        text-align: center;
        transition: background-color 0.25s, opacity 0.25s;
        top: 0;

        &:focus,
        &:hover {
            background-color: $pl-color-white;
            outline: 0;
        }
    }
}

@media all and (min-width: $pl-bp-small) {

    .pl-palette {
        display: flex;

        .pl-palette__color {
            flex: 1 0 auto;
            margin-bottom: 0;
            min-height: 10em;
        }
    }
}
