/**
 * VARIABLES
 */

/* -------------------------------------------------------------------------- *\
   #TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * BREAKPOINTS
 * FONTS
 * .....Size
 */




/* -------------------------------------------------------------------------- *\
   #BREAKPOINTS
\* -------------------------------------------------------------------------- */

$bp-xs:      30.00em; /*  480 / 16 */
$bp-small:   45.00em; /*  720 / 16 */
$bp-medium:  60.00em; /*  960 / 16 */
$bp-large:   80.00em; /* 1280 / 16 */
$bp-xl:      90.00em; /* 1440 / 16 */
$bp-xxl:    100.00em; /* 1600 / 16 */




/* -------------------------------------------------------------------------- *\
   #FONTS
\* -------------------------------------------------------------------------- */

/* ==========================================================================
   #Size
   ========================================================================== */

$h1-font-size: 2.2500em; /* 36 / 16 */
$h2-font-size: 1.5000em; /* 24 / 16 */
$h3-font-size: 1.3125em; /* 21 / 16 */
$h4-font-size: 1.1250em; /* 18 / 16 */
$h5-font-size: 1.0000em; /* 16 / 16 */
$h6-font-size: 0.8750em; /* 14 / 16 */
