<!doctype html>
<html>
<head>
    <title>Pattern Library</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/pattern-library/style.css">
</head>
<body>
<main role="main">
    <header role="banner">

    </header>

    <main role="main">

    </main>

    <footer role="contentinfo">
        <h1>Pattern Library</h1>
        <p>Version: <%= version %></p>
        <p>Updated: <%= updated %></p>
    </footer>
</main>
</body>
</html>
