<!doctype html>
<html class="pl-html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pattern Library – Name of Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/pattern-library/pattern-library.css">

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>window.WebFont || document.write('<script src="../js/vendor/jquery.js"><\/script>')</script>
    <script>
        WebFont.load({
            google: {
                families: ['Roboto Mono:400', 'Roboto Mono:700']
            }
        });
    </script>
</head>
<body>
    <header class="pl-header pl-header--primary" role="banner">
        <a class="pl-link" href="index.html">
            <img class="pl-logo" src="http://placehold.it/180x50" width="180" height="50" alt="Name of Project logo">
        </a>

        <nav class="pl-nav js-pl-nav">
            <ol class="pl-list">
                <li class="pl-list__item">
                    <a class="pl-list__link" href="index.html">Brand</a>
                    <ol class="pl-list">
                        <li class="pl-list__item"><a class="pl-list__link" href="index.html">Logo</a></li>
                        <li class="pl-list__item"><a class="pl-list__link" href="index.html">Color</a></li>
                        <li class="pl-list__item"><a class="pl-list__link" href="index.html">Font</a></li>
                    </ol>
                </li>
                <li class="pl-list__item">
                    <a class="pl-list__link" href="index.html">Elements</a>
                    <ol class="pl-list">
                        <li class="pl-list__item"><a class="pl-list__link" href="index.html">Headings</a></li>
                        <li class="pl-list__item"><a class="pl-list__link" href="index.html">Paragraph</a></li>
                        <li class="pl-list__item"><a class="pl-list__link" href="index.html">Blockquote</a></li>
                    </ol>
                </li>
                <li class="pl-list__item"><a class="pl-list__link" href="index.html">Forms</a></li>
                <li class="pl-list__item"><a class="pl-list__link" href="index.html">Patterns</a></li>
                <li class="pl-list__item"><a class="pl-list__link" href="index.html">Templates</a></li>
            </ol>
        </nav>

        <a class="pl-hamburger js-pl-nav-toggle" href="index.html">
            <span class="pl-hamburger__bar"></span>
        </a>
    </header>

    <main class="pl-main" role="main">
        <section class="pl-section">
            <header class="pl-header">
                <h1 class="pl-header__title">Name of Project</h1>
                <p class="pl-header__synopsis">Pattern Library <span class="pl-header__label">v<%= version %></span></p>
            </header>

            <article class="pl-article">
                <h2>Overview</h2>

                <p>This pattern library is a collection of recurring user interface design patterns created to solve common design
                    problems.</p>

                <h2>Features</h2>

                <ul>
                    <li><a href="https://en.bem.info/methodology">BEM methodology</a></li>
                    <li><a href="http://www.creativebloq.com/web-design/manage-large-scale-web-projects-new-css-architecture-itcss-41514731">ITCSS architecture</a></li>
                    <li><a href="https://jquery.com">jQuery</a></li>
                    <li><a href="https://necolas.github.io/normalize.css">Normalize.css</a></li>
                    <li><a href="http://sass-lang.com">Sass</a></li>
                </ul>
            </article>
        </section>

        <footer class="pl-footer" role="contentinfo">
            <div>Last Modified: <%= updated %></div>
        </footer>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../js/vendor/jquery.js"><\/script>')</script>
    <script src="../js/plugins.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/pattern-library/pattern-library.js"></script>
</body>
</html>
