<!doctype html>
<html class="pl-html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pattern Library – Name of Project</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/pattern-library.css">
</head>
<body>
<main role="main">
    <header role="banner">

    </header>

    <main role="main">
        <h1>Name of Project</h1>
        <h2>Pattern Library <span>v<%= version %></span></h2>
    </main>

    <footer role="contentinfo">
        <div>Last Modified: <%= updated %></div>
    </footer>
</main>
</body>
</html>
