<!doctype html>
<html>

{{> partials/head}}

<body>
    {{> partials/header}}

    <main role="main">
        {{ index.title }}

        {{> partials/elements/hr}}
    </main>

    {{> partials/footer}}
</body>
</html>
